<div class="cst-search">
	
	<div class="cst-search-form" ng-show="$ctrl.searchForm">
		<span class="glyphicon glyphicon-remove" ng-click="$ctrl.hideResearch()"/>
		<form ng-submit="$ctrl.search()">
			<input type="text" placeholder="{{'search.placeholder' | translate}}" ng-model="$ctrl.stringSearch" />
			<input type="submit" />
		</form>

		<div class="cst-search-no-result" ng-show="$ctrl.noResult">
			{{'search.noResult' | translate}}
		</div>

		<div class="cst-search-articles container">
			<div ng-repeat="article in $ctrl.articles" class="row">
				<div class="col-xs-12 col-md-4">
					<img class="cst-article-main-img" ng-src="{{article.img}}" />
				</div>
				<div class="col-xs-12 col-md-8">
					<h2 ng-show="$root.currentLang == 'fr'" ng-click="$ctrl.hideResearch()">
						<a ui-sref="root.details({articleId : article.id})" ng-bind-html="article.fr.title"></a> <span class="badge">{{article.force}}</span>
					</h2>
					<div ng-show="$root.currentLang == 'fr'" class="cst-article-date">
						{{article.publication_date | date: 'dd/MM/yyyy'}}
					</div>	
					<div class="cst-article-inner-content" ng-show="$root.currentLang == 'fr'" ng-bind-html="article.fr.summary">
					</div>

					<h2 ng-show="$root.currentLang == 'en'" ng-click="$ctrl.hideResearch()">
						<a ui-sref="root.details({articleId : article.id})" ng-bind-html="article.en.title"></a>
					</h2>
					<div ng-show="$root.currentLang == 'en'" class="cst-article-date">
						{{article.publication_date | date: 'MM/dd/yyyy'}}
					</div>
					<div class="cst-article-inner-content" ng-show="$root.currentLang == 'en'" ng-bind-html="article.en.summary">
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="cst-search-btn" ng-click="$ctrl.research()">
		<span class="glyphicon glyphicon-search"></span>
	</div>
</div>