@media screen and (max-width: 990px) {
	.cst-articles .row
	{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

.cst-article
{
	margin: 0 auto;
	margin-top: 20px;
	padding: 0;
	background-color: darken(@grey-lite, .5%);

	> .cst-article-content {
		position: relative;
		overflow: hidden;
		
		> a > img.cst-article-main-img
		{
			width: 100%;
			.transition(transform .2s ease-in-out);

			&:hover 
			{
				.transform(scale(1.1));
			}
		}

		> .cst-article-img-container
		{
			max-height: 400px;
			overflow: hidden;

			> img.cst-article-main-img
			{
				width: 100%;
			}
		}

		> h2 
		{
			text-align: center;
			font-family: 'Intro';
			padding: 0 10px;
			color: @azure;
			.text-shadow(lighten(@azure, 10%) 1px 1px 0px);
				
			> a
			{
				color: @azure;
				.transition(color .2s ease-in-out);

				&:hover {
					color: @azure-lite;
				}
			}
		}

		> .cst-article-date {
			text-align: center;
			font-family: 'Intro';
			color: @azure-lite;
		}

		> .cst-article-inner-content {
			padding: 15px 30px;
			color: white;
		}
	}

	> .cst-article-footer {
		background-color: @azure;

		> .cst-article-footer-link {
			text-align: center;
			height: 30px;
			padding-top: 5px;

			> a {
				color: white;
				display: inline;
				padding-top: 5px;
				font-weight: bold;
				font-family: 'IntroInline';
			}
		}

		.transition(box-shadow .5s ease-in-out);

		&:hover
		{
			box-shadow: darken(@azure-lite, 50%) 0px 2px 4px;
		}
	}
}