@media screen and (max-width: 990px) {
	.cst-articles .row
	{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}


.cst-article
{
	margin: 0 auto;
	max-width: 800px;
	margin-top: 20px;
	border: 1px solid @grey-lite;
	padding: 0;

	> .cst-article-content {
		position: relative;

		> img.cst-article-main-img
		{
			margin-top: 15px;
			width: 100%;
		}

		> h2 
		{
			text-align: center;
			font-family: 'Intro';

			> a
			{
				color: #333;
				
				&:hover {
					color: #c2becb;
				}
			}
		}

		> .cst-article-date {
			text-align: center;
			font-family: 'Intro';
		}

		> .cst-article-inner-content {
			padding: 15px;
		}
	}

	> .cst-article-footer {
		background-color: @azure;

		> .cst-article-footer-link {
			text-align: center;
			height: 30px;
			padding-top: 5px;

			> a {
				color: white;
				display: inline;
				padding-top: 5px;
				font-weight: bold;
				font-family: 'IntroInline';
			}
		}

		&:hover {
			box-shadow: darken(@grey-lite, 50%) 0px 2px 4px;
		}
	}
}