.cst-header-margin {
	width: 100%;
	height: 50px;
	display: block;
}

.cst-header {

	margin-bottom: 0px;
	position: fixed;
	width: 100%;

	&.navbar-inverse 
	{
		background-color: inherit;
		border-bottom: none;

		&:after {
			background-color: inherit;
			width: 100%;
			height: 50px;
			position: fixed;
			z-index: -1;
			top: 0;
		}

		.navbar-header
		{
			.navbar-toggle
			{
				border: inherit;
				
				&:hover,
				&:focus
				{
					background-color: inherit;
				}
			}

			.navbar-brand 
			{
				color: white;
				font-family: 'IntroInline';
			}
		}
		
		@media (max-width: 768px) {
			.navbar-collapse {
				background-color: @grey;
				opacity: 0.8;
			}
		}		

		.navbar-nav 
		{
			> li 
			{
				> a
				{
					color: white;
				}

				&.active
				{
					> a 
					{
						color: white;
						background-color: inherit;	
					}
				}
			}			

			> .open 
			{
				> a
				{
					background-color: inherit;
				}
			}
    	}

		&.header-color
		{
			background-color: white;
			border-bottom: 1px solid @azure-lite;


			.navbar-nav 
			{
				> li 
				{
					> a
					{
						color: @azure;
						background-color: inherit;
						.transition(background-color .5s ease-in-out);	
					}

					&.active,
					&:hover,
					&:focus 
					{
						> a 
						{
							color: white;
							background-color: @azure-lite;	
						}
					}
				}
			}

			.navbar-header
			{
				.navbar-toggle
				{
					.icon-bar
					{
						background-color: @azure-darker;
					}
				}

				.navbar-brand 
				{
					color: @azure-darker;
					font-family: 'IntroInline';
				}
			}

			.navbar-collapse
			{
				> ul.nav 
				{
					> li
					{
						&:first-child
						{
							border-right: none;
						}
						&:last-child
						{
							border-right: 1px solid @azure-lite;
						}

						border-left: 1px solid @azure-lite;
						

						> a
						{
							color: @azure-darker;
						}
					}
				}
			}
		}
	}

	> .nav
	{
		.open 
		{
			> a
			{
				background-color: inherit;
			}
		}
	}

	.navbar-nav
	{
		> li
		{
			> .dropdown-menu
			{
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				background-color: @azure-darker;
				opacity: 0.9;
				
				> li
				{
					a 
					{
						.transition(all .2s ease-in-out);
						
						color: white;
					}
				}

				&:hover
				{
					> li
					{
						a
						{
							color: @azure;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 767px)
{
	.cst-header.navbar-inverse
	{
		.navbar-nav .open .dropdown-menu > li > a,
		.navbar-collapse > ul.nav > li > a
		{
			color: white;
		}

		.navbar-nav .open .dropdown-menu > li > a:hover
		{
			background-color: @grey-lite;
			color: @azure-darker;
		}
	}
}