.cst-pagination {
    padding-left: inherit;
    text-align: center;
    width: 100%;
    display: block;

    li {
        display: inline-block;

        a, span
        {
            color: white;
            background-color: @azure;
            border: none;
            border-radius: 0;
            display: block;

            .transition(all .2s ease-in-out);

            &.active
            {
                background: @azure-darker;
            }

            &:first-child,
            &:last-child
            {
                border-radius: 0;
            }
        }
    }
}