.cst-search
{
    .cst-search-form {
        width: 100%;
        min-height: 100%;
        top: 0px;
        right: 0px;
        position: absolute;
        z-index: 1001;

        > span.glyphicon-remove
        {
            cursor: pointer;
            position: fixed;
            top: 10px;
            right: 10px;
            font-size: 25px;
            z-index: 1004;
        }

        > form {

            > input[type="text"] 
            {                
                font-size: 5.1em;
                width: 80%;
                height: 75px;
                display: block;
                margin-left: 10%;
                position: absolute;
                top: 50px;
                z-index: 1003;
                background-color: transparent;
                border: none;
                border-bottom: 2px solid white;
                box-shadow: @grey 0px 2px 5px;
            }

            > input[type="submit"] {
                display: none;
            }
        }

        > .cst-search-no-result {
            width: 100%;
            position: absolute;
            top: 150px;
            z-index: 1003;
            text-align: center;
            font-family: 'Intro';
        }

        > .cst-search-articles {
            position: absolute;
            top: 150px;
            z-index: 1003;

            .cst-article-main-img {
                width: 100%;
                margin: 0 auto;
            }

            h2 {
                text-align: center;
			    font-family: 'Intro';
                
                > a {
                    color: #333;
                    
                    &:hover {
                        color: #c2becb;
                    }
                }
            }

            .cst-article-date
            {
                text-align: center;
			    font-family: 'Intro';
            }

            .cst-article-inner-content
            {

            }
        }

        &:after {
            content: ' ';
            background-color: white;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: fixed;
            z-index: 1002;
            opacity: 0.9;
        }
    }

    .cst-search-btn
    {
        background-color: @azure;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        position: fixed;
        bottom: 10px;
        right: 10px;
        cursor: pointer;

        &:hover {
            background-color: @azure-darker;
        }

        > span.glyphicon {
            color: white;
            font-size: 25px;
            margin: 11px;
        }
    }
}